.root {
  /* Layout */
  display: flex;
  justify-content: center;
  align-items: center;
  container-type: size;

  /* Box model */
  width: 100%;
  height: 100%;
}

.board {
  --size: 15; /* intersections per side */
  --board-width: min(100cqmin, 40rem);
  --cell-width: calc(var(--board-width) / var(--size));
  --tracks: repeat(var(--size), 1fr);

  /* Layout */
  display: grid;
  grid-template-columns: var(--tracks);
  grid-template-rows: var(--tracks);

  /* Box model */
  width: var(--board-width);
  aspect-ratio: 1;
  padding: calc(var(--cell-width) / 2); /* half a cell, so edge stones don't touch the board edge */
  border-radius: 0.5rem;

  /* Visual */
  background: #dcb35c;
}
